p {
    text-align: left;
    color:rgb(0, 0, 0);
    font-size:15px;
    font-family: Monaco, Monospace;
    font-weight: normal;
}

h3 {
    text-align: left;
    color:rgb(0, 0, 0);
    font-size:25px;
    font-family: Monaco, Monospace;
    font-weight: normal;
}

#s1mplehighlights.mp4 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

h2 {
    text-align: left;
    color:rgb(0, 0, 0);
    font-size:25px;
    font-family: Monaco, Monospace;
    font-weight: normal;
}

h1 {
    text-align: left;
    color:rgb(0, 0, 0);
    font-size:25px;
    font-family: Monaco, Monospace;
    font-weight: normal;
}

img {
    width: 1920px;
    height: 1080px;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(105, 105, 105);
    border-width: 5px;
    border-style: solid;
}

body {
    margin: 0;
    padding-bottom: 280px;
    font-family: Monaco, Monospace;
    background-color: rgb(0, 0, 0);
    background-image: url("csgoog.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    opacity: 100%;
}

.content {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
